@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Variables */
:root {
    --PrimaryBackground: #f2f2f2;
    --SecondaryBackground: #b2b2b2;
    --TertiaryBackGround: #808080;
    --PrimaryText: #212121;
    --LinkText: #336aa9;
}

* {
    font-family: "PT Sans", serif ;
}

body {
    margin: 0px;
}
main {
    margin: 0px 5px;
}
header {
    font-family: "PT Sans", serif;
    font-size: 25px;
    color: var(--PrimaryText);
    padding: 5px;
    background-color: var(--SecondaryBackground);
}
header h1 {
    margin-left: 30px;
}
header > h1 a {
    color: black;
    text-decoration: none;
    transition: background-color 0.5s ease;
    padding: 15px;
    border-radius: 4px;
}
header > h1 a:hover {
    background-color: var(--TertiaryBackGround);
}
header > nav {
    margin-bottom: 8px;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
}
header > nav a {
    border-radius: 5px;
    padding: 5px;
    text-decoration: none;

    transition: background-color 0.5s ease;
}
header > nav a:hover {
    background-color: var(--TertiaryBackGround);
}

footer {
    background-color: rgba(0, 0, 0, 0.57);
}

a {
    color: var(--LinkText);
}
li {
    display: inline-block;
    list-style-type: none;
}
#All-Calculators {
    background-color: rgba(0, 0, 0, 0.244);
    max-width: 75%;
    margin: auto;
    padding: 5px 5px;
    border-radius: 5px;
    box-shadow: 2px 3px 7px 2px #000000ab;
}
.Blocks {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(110px, 150px));
    justify-content: center;
    gap: 7px;
    margin: 15px;
    min-height: 150px;
}
.Calculator-Block {
    background-color: rgba(41, 41, 41, 0.823);
    padding-bottom: 5px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 2px 2px 5px 0px #000000ab;
    transition: transform 0.2s, background-color 0.3s;
    height: 150px;
}
.Calculator-Block:hover {
    transform: scale(1.05);
    background-color: rgba(41, 41, 41, 0.939);
}
#All-Calculators a {
    text-decoration: none;
    color: black;
}
.Calculator-Block img {
    margin-top: 17px;
    width: 80%;
    height: 80px;
    border-radius: 3px;
}